{% extends 'dashboard/base.html' %}

{% block content %}
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <div class="d-flex justify-content-start">
                        <a href="{{ url_for('contacts.importcontact') }}" class="btn btn-outline-primary">Import</a>
                        <a href="" class="btn btn-outline-primary" style="margin-left: 10px;">Export</a>
                    </div>
                </div>
                <!-- /.card-header -->
                <div class="card-body table-responsive p-0">
                <table class="table table-hover text-nowrap">
                    <thead>
                    <tr>
                        <th>ID</th>
                        <th>Phone Number</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for data in items %}
                        <tr>
                            <td>{{ data.id }}</td>
                            <td>{{ data.phonenumber }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
                </div>
                <!-- /.card-body -->
                <div class="card-footer clearfix">
                    <nav aria-label="Page navigation example">
                        <ul class="pagination pagination-primary justify-content-center">
                            <li class="page-item">
                                <a 
                                class="page-link{% if not pagination.has_prev %} disabled{% endif %}" 
                                href="{% if pagination.has_prev %}{{ url_for('contacts.index', page=pagination.prev_num) }}{%else%}#{% endif %}">Prev</a>
                            </li>
                            <li class="page-item">
                                <a 
                                class="page-link{% if not pagination.has_next %} disabled{% endif %}" 
                                href="{% if pagination.has_next %}{{ url_for('contacts.index', page=pagination.next_num) }}{%else%}#{% endif %}">Next</a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
            <!-- /.card -->
            </div>
        </div>
    </div>
</section>
{% endblock %}