{% extends 'dashboard/base.html' %}

{% block headerContent %}
<div class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1 class="m-0">Add New SMS</h1>
        </div>
      </div>
    </div>
</div>
{% endblock %}


{% block content %}
<section class="content">
    <div class="container-fluid">
        <div class="card card-default">
            <div class="card-header">
              <h3 class="card-title">Import contacts (xlsx)</h3>
  
              <div class="card-tools">
                <button type="button" class="btn btn-tool" data-card-widget="collapse">
                  <i class="fas fa-minus"></i>
                </button>
                <button type="button" class="btn btn-tool" data-card-widget="remove">
                  <i class="fas fa-times"></i>
                </button>
              </div>
            </div>
            <!-- /.card-header -->
            <div class="card-body">
              <div class="row">
                <div class="col-12">
                <form action="{{ url_for('sms.addprocess') }}" method="POST">
                  <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                    <div class="form-group">
                      <label for="contactsFolder">Contacts Folder</label>
                        <select class="form-control" name="folder_name">
                          {% for data in items %}
                          <option value="{{ data.folder_name }}">{{ data.folder_name }}</option>
                          {% endfor %}
                        </select>
                    </div>
                    <div class="form-group">
                      <label for="template">Template</label>
                        <select class="form-control" name="template_id">
                          {% for data in templates %}
                          <option value="{{ data.id }}">{{ data.messages[0:10] }} ...</option>
                          {% endfor %}
                        </select>
                    </div>
                    <div class="form-group">
                      <label for="provider">Provider</label>
                        <select class="form-control" name="provider">
                            {% for data in aws %}
                            <option value="{{ data.id }},aws">{{ data.aws_access_key }} - {{ data.aws_region }}</option>
                            {% endfor %}
                            {% for data in twilio %}
                            <option value="{{ data.id }},twilio">{{ data.twilio_account_sid }} - {{ data.phonenumber }}</option>
                            {% endfor %}
                            {% for data in vonage %}
                            <option value="{{ data.id }},vonage">{{ data.vonage_api_key }} - {{ data.phonenumber }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="form-group">
                        <button class="btn btn-primary">Submit</button>
                    </div>
                </select>
                </form>
                  <!-- /.form-group -->
                </div>
                <!-- /.col -->
              </div>
              <!-- /.row -->
            </div>
            <!-- /.card-body -->
          </div>
    </div>
</section>
{% endblock %}